body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  gap: 1rem;
  background-color: #333;
  padding: 1rem;
}

nav a {
  color: white;
}

main {
  padding: 1rem;
}